:root {
    --color-primario: #faebd7;
    --color-secundario: #fa9769;
    --fuente-principal: 'Maxwell';
}

body {
    font-family: 'Maxwell';
}

.header {
    background-color: var(--color-secundario);
    font-family: var(--fuente-principal);
    font-family: 'Maxwell';
    text-align: center;
    align-items: center;
    height: 70px;
    color: white;
}

.header__title {
    text-shadow: 0 0 10px black;
}

.navbar {
    position: fixed;
    display: flex;
    text-align: center;
}

.navbar__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-secundario);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar__list {
    float: left;
    border-inline: 1px solid #bbb;
}

.list__a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.list__a:hover:not(.active) {
    background-color: #f5c4ae;
}

.active {
    background-color: var(--color-primario);
}
